.profile {
    width: 300px;
    margin: 0px auto;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #122236;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .description {
    padding: 30px 20px;
    overflow: hidden;
  }
  
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f3f6f9;
    margin-bottom: 20px;
  }
  
  .name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .tag,
  .location {
    font-size: 14px;
    color: #768696;
    margin: 5px 0;
  }
  
  .stats {
    padding-inline-start: 0px;
    display: flex;
    background-color: #f3f6f9;
    border-top: 1px solid #e4e9f0;
    margin-block-start: 0px;
    margin-block-end: 0px;
    overflow: hidden;
  }
  
  .stats li {
    list-style: none;
    flex: 1;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #e4e9f0;
  }
  
  .stats li:last-child {
    border-right: none;
  }
  
  .label {
    font-size: 12px;
    color: #768696;
    margin-bottom: 4px;
  }
  
  .quantity {
    font-size: 14px;
    font-weight: 700;
    color: #122236;
  }
